/* AUTHORS: GROUP 7 - Mickaël BENASSE (805211), Brice CHKIR (805212), Joffrey COLLET (805213) */
html, body {
    font-family: 'Nunito Sans', sans-serif;
    height: 100vh;
    max-height: 100vh;
}

hr {
    color: #e0e0e0;
    opacity: 1;
}

.header {
    padding-top: 0.5rem;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 80px;
}

.conversation-item {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    overflow: hidden;
    white-space: nowrap;
}

.conversation-item:hover, .conversation-item.active {
    background-color: #dedede;
}

.conversation-item.new-message {
    border-color: green;
    border-width: medium;
}

.user-item {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    overflow: hidden;
    white-space: nowrap;
}

.msg {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 80%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.msg-sent {
    text-align: right;
    margin-left: auto;
}

.msg-received {
    margin-right: auto;
}

.msg-sent .msg-sender {
    display: none;
}

.msg-timestamp {
    color: #6c757d;
    font-size: x-small;
}

.special-msg {
    width: 100%;
    text-align: center;
    font-style: italic;
}